<div class="list-group w-50 m-auto ">
    <h1 class="list-group w-50 m-auto">Informations</h1>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <i class="bi bi-person" style="color:#0e09a1"></i>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Nom</h6>
                <p class="mb-0 opacity-75">{{userNom}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        
        <i class="bi bi-person"style="color:#0e09a1"></i>
        <div class="d-flex gap-2 w-100 justify-content-between ">
            <div>
                <h6 class="mb-0 ">Prenom</h6>
                <p class="mb-0 opacity-75">{{userPrenom}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </a>
  

   

    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <i  class="bi bi-envelope "style="color:#0e09a1"></i>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Email</h6>
                <p class="mb-0 opacity-75">{{userEmail}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <i class="bi bi-telephone"style="color:#0e09a1"></i>
        <div class="d-flex gap-2 w-100 justify-content-between">
            <div>
                <h6 class="mb-0">Telephone</h6>
                <p class="mb-0 opacity-75">{{userTelephone}}</p>
            </div>
            <small class="opacity-50 text-nowrap"></small>
        </div>
    </a>
   
        <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
            <i class="bi bi-person" style="color:#0e09a1"></i>

            <div class="d-flex gap-2 w-100 justify-content-between">
                <div>
                    <h6 class="mb-0">Rôle</h6>
                    <p class="mb-0 opacity-75">{{userRole}}</p>
                </div>
                <small class="opacity-50 text-nowrap"></small>
            </div>
        </a>
   
</div>

