<div class="container">
  <header
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom style">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap">
              <use xlink:href="#bootstrap" />
          </svg>
          <img style="width: 350px; height: 150px;" src="assets/img/SUNU-GARAGE-1--unscreen.gif"
              alt="Logo de l'application" />

      </a>

      <ul class="nav nav-pills">
          <li class="nav-item"><a href="#" class="btn btn-outline-primary me-2" aria-current="page">Accueil</a></li>
          <li class="nav-item"><a href="#" class="btn btn-outline-primary me-2">A Propos</a></li>
          <li class="nav-item"><a href="#" class="btn btn-outline-primary me-2">Nos contacts</a></li>

      </ul>

      <div class="col-md-3 text-end">
          <button type="button" class="btn btn-outline-primary me-2">
              <a [routerLink]="['/login']" >Connexion</a></button>
          <button type="button"class="btn btn-outline-primary me-2" >
              <a [routerLink]="['/register']" > S'inscrire </a></button>
      </div>
  </header>
</div>

<main>
  <div class="container  min-vh-100   d-flex justify-content-center align-items-center p-2 text-dark bg-opacity-10  shadow-lg p-3 mb-10  rounded "  >
    <div class="container">
      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a href="#" class="logo d-flex align-items-center w-auto">
                 
                  <span class="d-none d-lg-block">SunuGarage</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Se Connecter</h5>
                    
                  </div>

                  <form class="row g-3 needs-validation" #loginForm="ngForm"  (ngSubmit)="loginUser()" novalidate>

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">&#64;</span>
                        <input type="text" name="email" class="form-control" id="email" (keyup)="emailVerif(email.value)" required [class.is-invalid]="emailError || (email.invalid && email.touched ) " [class.is-valid]="email.valid" #email="ngModel" [(ngModel)]="user.email" tabindex="2" class="form-control" placeholder="Email">
                        <div *ngIf="emailError || (email.touched && email.invalid)">
                            <small class="text-danger" [class.d-none]=" email.untouched || email.valid"> Veuillez saisir votre email </small>
                            <small class="text-danger" [class.d-none]="!emailError || email.value == ''"> Veuillez saisir l'email au bon format</small>
                        </div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="yourPassword" class="form-label">Mot de Passe</label>
                      <!--<span class="input-group-text" id="inputGroupPrepend" style="width: 10px;height: 10px;"> <i class="fa fa-lock"style="color:black;"></i></span>-->
                     
                      <input type="password" name="password" class="form-control"id="password" (keyup)="passwordLengthVerif(password.value)" required [class.is-invalid]="passError || (password.invalid && password.touched )" [class.is-valid]="password.valid" #password="ngModel" [(ngModel)]="user.password" tabindex="2" class="form-control" placeholder="Password"  required>
                      
                      <div *ngIf="passError || (password.touched && password.invalid)">
                        <small class="text-danger" [class.d-none]="password.untouched || password.valid"> Veuillez remplir ce champ</small>
                        <small class="text-danger" [class.d-none]="!passError || password.value == ''"> Minimun 6 caractéres</small>
                    </div>
                    </div>

                    <div class="col-12">
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                        <label class="form-check-label" for="rememberMe">Se souvenir</label>
                      </div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit">Connexion</button>
                    </div>
                    <div class="mt-3 form-group">
  
                        <a [routerLink]="['/register']">Pas encore membre </a>
                
                        </div>
                  </form>

                </div>
              </div>

              
            </div>
          </div>
        </div>

      </section>

    </div>
  </div>
  </main>
<app-footer></app-footer>

