<body>
    <main id="main" class="main">
    <h1 style="color:darkblue" class="text-primary"><span class="bi bi-person-badge">&nbsp;</span>Liste des Chauffeurs <span class="breadcrumb-item text-secondary small" style="font-size: 15px; "></span></h1>
    <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
          <li class="breadcrumb-item active">Chauffeur</li>
        </ol>
      </nav>
    
                <div class="card">
                   <div class="card-header justify-content-between" style="border-top:4px solid  #0e09a1">
                        <!-- <h3>Liste des Chauffeurs</h3> -->
                    </div> 
                        <div class="card-body">
                       
                        <table id="example" class=" table  table-striped col-lg-12" style=" background: white; border: 0px; "> 
                            <thead>
                              <tr>
                                <th scope="col">Prenom</th>
                                <th scope="col">Nom</th>
                                <th scope="col">Adresse</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Permis</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                        
                                    <tr *ngFor="let chauffeur of chauffeurs">
                                        <td>{{chauffeur.prenom}}</td>
                                        <td>{{chauffeur.nom}}</td>
                                        <td>{{chauffeur.adresse}}</td>
                                        <td>{{chauffeur.telephone}} </td>
                                        <td>{{chauffeur.numPermis}} </td>
                                        
                                        <td>
                                           
                                            <a href="/home/editChauffeur?id={{chauffeur.id}}" class="btn btn-primary"><span class="bi bi-pencil"></span></a>&nbsp;&nbsp;
                                            <a href="" class="btn btn-secondary"><span class="ri-car-washing-line"></span></a>&nbsp;&nbsp;
                                            <a href="/home/ajouterVoiture?id={{chauffeur.id}}"><span class="ri-car-washing-line"><i class="ri-add-fill"></i></span></a>&nbsp;&nbsp;
                                            <button  class="btn btn-danger " (click)="deleteChauffeur(chauffeur.id)" ><span class="bi bi-trash-fill"></span></button>
                                            
                                           
                                        </td>
                                    </tr>
                               
                               
                            </tbody>
                          </table>
                        
                </div>
            </div>
      
    
    
    <main>
       
    

