<main id="main" class="main">
    <h1 style="color:darkblue" class="text-primary"><span class="bi bi-box">&nbsp;</span>Liste des Départs <span class="breadcrumb-item text-secondary small" style="font-size: 15px; "></span></h1>
    &nbsp;<nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="['/home/accueil']">Accueil</a></li>
          <li class="breadcrumb-item active">Départs</li>
        </ol>
      </nav>
    
                <div class="card" style="width: 110%;">
                    <div class="card-header justify-content-between" style="border-top:4px solid #3545b8">
                        <!-- <h3>Liste des Départs</h3> -->
                    </div>
                        <div class="card-body">
                       
                        <table id="example" class=" table  table-striped col-lg-16  " style=" background: white; border: 1px; width:100%"> 
                            <thead>
                              <tr>
                                <th scope="col">Depart</th>
                                <th scope="col">Voiture</th>
                                <th scope="col">Chauffeur</th>
                                <th scope="col">Téléphone</th>
                                <th scope="col">Action</th>
                              </tr>
                            </thead>
                            <tbody>
                        
                                    <tr *ngFor="let dep of depart">
                                        <td>{{dep.dateHeure}}  /  {{dep.destination}}</td>
                                        <td>{{dep.type}} / {{dep.matricule}}</td>
                                        <td>{{dep.prenom}} {{dep.nom}}</td>
                                        <td>{{dep.telephone}}</td>
                                        
                                        <td>
                                           
                                           
                                            <a href="/home/addPassager?id={{dep.voitureId}}&dateHeure={{dep.dateHeure}}&destination={{dep.destination}}"  class="btn btn-secondary " ><span class="bi bi-person-plus-fill"></span></a>&nbsp;
                                            <a href="/home/passagerDepart?id={{dep.voitureId}}&dateHeure={{dep.dateHeure}}&destination={{dep.destination}}"  class="btn btn-success "  ><span class="bi bi-people"></span></a>&nbsp;
                                            <button  class="btn btn-danger " (click)="deleteDepart(dep.voitureId,dep.dateHeure)"><span class="bi bi-trash-fill"></span></button>
                                           
                                        </td>
                                    </tr>
                               
                               
                            </tbody>
                          </table>
                        
                </div>
            </div>