<div class='container-fluid'>

    <header class="py-3 mb-3 border-bottom">
        <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
            <button class="btn " type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
                aria-controls="offcanvasScrolling" style="background-color:#0e09a1;color:#fff;">MENU</button>
               
            <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1"
                id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasScrollingLabel">

                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">

                    <div class="fs-4 text-center " style="background-color:#0e09a1;color:#fff;">

                        PASSAGER(E)
                    </div>

                    <ul class="nav nav-pills flex-column mb-auto ">
                        <li>
                            <a href="/Home/bagages"class="nav-link link-dark ">
                                Mes Bagages
                            </a>
                        </li>
                        <li>
                            <a href="/Home/departs" class="nav-link link-dark ">
                                <!-- [routerLink]="['/Home/departs']" [queryParams]="{ id: userId }" -->
                                Mes Departs
                            </a>
                        </li>

                    </ul>
                    <hr>





                </div>
            </div>
            <!-- <div class="offcanvas-body">

            </div> -->
            <nav class="header-nav ms-auto">
                <ul class="d-flex align-items-center">
          
                  <li class="nav-item d-block d-lg-none">
                    <a class="nav-link nav-icon search-bar-toggle " href="#">
                      <i class="bi bi-search"></i>
                    </a>
                  </li>
          
                
          
                 
          
                  <li class="nav-item dropdown pe-3">
          
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
                     <!-- <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> -->
                      <span class="d-none d-md-block dropdown-toggle ps-2">{{user}}</span>
                    </a>
          
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                      <li class="dropdown-header">
                        <h6>{{user}}</h6>
                        <span>{{stat}}</span>
                      </li>
                  
          
                      <li>
                        <a class="dropdown-item d-flex align-items-center"(click)="logout()">
                          <i class="bi bi-box-arrow-right"></i>
                          <span>Deconnexion</span>
                        </a>
                      </li>
          
                    </ul>
                  </li>
          
                </ul>
              </nav> 
        </div>
        


    </header>

</div>